doctype html
html
	head
		title= title
		link(rel='stylesheet',href='bower_components/materialize/dist/css/materialize.min.css')
		//- place your own css under materialize so that it can override a materialize style 
		link(rel='stylesheet', href='css/style.css') 
	body
		block content